<footer th:fragment="footerFragment">
    <div class="container-fluid ps-5">
        <div class="row">
            <div class="col-12 text-start py-4">
                <p class="mb-1 fw-bold">살래말래</p>
                <p class="mb-0 text-secondary" style="font-size: 0.9rem;">
                    멋쟁이사자처럼 부트캠프 백엔드 Java 21기 기초 프로젝트 6조
                </p>
                <p class="mb-1 text-secondary" style="font-size: 0.9rem;">
                    권성주, 권영규, 김기전, 김영중, 백민영, 전승민
                </p>
                <small class="text-muted">© 2026 골라조. All rights reserved.</small>
            </div>
        </div>
    </div>
</footer>