<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base(hideNavbar=false)}">
<head>
    <meta charset="UTF-8">
    <title>홈</title>
</head>
<body>
<div layout:fragment="content">
    <div th:if="${#lists.isEmpty(questions.getQuestions())}">
        등록된 질문이 없습니다. 첫 질문을 작성해 보세요!
    </div>

    <div class="d-flex justify-content-between align-items-center mb-4">
        <div>
            <div>
                <div class="filter-label mb-2">카테고리</div>
                <div class="d-flex flex-wrap gap-2">
                    <button class="ps-1 pe-1 chip active" data-group="cat">전체</button>
                    <button class="ps-1 pe-1 chip" data-group="cat">전자기기</button>
                    <button class="ps-1 pe-1 chip" data-group="cat">패션</button>
                    <button class="ps-1 pe-1 chip" data-group="cat">음식</button>
                    <button class="ps-1 pe-1 chip" data-group="cat">뷰티</button>
                    <button class="ps-1 pe-1 chip" data-group="cat">생활</button>
                </div>
            </div>

            <div>
                <div class="filter-label mb-2">가격대</div>
                <div class="d-flex flex-wrap gap-2">
                    <button class="ps-1 pe-1 chip" data-group="price">~1만</button>
                    <button class="ps-1 pe-1 chip active" data-group="price">1~10</button>
                    <button class="ps-1 pe-1 chip" data-group="price">10~50만</button>
                    <button class="ps-1 pe-1 chip" data-group="price">50만+</button>
                </div>
            </div>

            <div>
                <div class="filter-label mb-2">커뮤니티 의견</div>
                <div class="d-flex flex-wrap gap-2">
                    <button class="ps-1 pe-1 chip buy-chip active">살래 우세</button>
                    <button class="ps-1 pe-1 chip pass-chip active">말래 우세</button>
                    <button class="ps-1 pe-1 chip">팽팽</button>
                </div>
            </div>
        </div>

        <div class="flex-grow-1">
            <div class="d-flex justify-content-between align-items-center mb-4 ms-3 me-3"
                 th:unless="${#lists.isEmpty(questions.getQuestions())}">
                <span th:text="|질문 ${questions.getTotalItemCount}개|">질문 1개</span>
                <div class="d-flex gap-2">
                    <a th:href="@{/questions(sort='createdAt,desc', page=0, q=${searchText})}"
                       class="btn rounded-pill px-4 py-2"
                       th:classappend="${sortType=='createdAt'}? 'btn-green' : 'btn-white'">최신순</a>
                    <a th:href="@{/questions(sort='viewCount,desc', page=0, q=${searchText})}"
                       class="btn rounded-pill px-4 py-2"
                       th:classappend="${sortType=='viewCount'}? 'btn-green' : 'btn-white'">인기순</a>
                    <!--<a class="sort-btn">답변 많은 순</a>-->
                </div>
            </div>

            <div class="container mt-5">
                <div class="row g-4">
                    <div class="col-12 col-sm-6 col-lg-4 col-xl-3" th:each="question: ${questions.getQuestions()}">
                        <div class="card h-100 p-3 shadow-sm shadow-on-hover">
                            <a class="stretched-link text-decoration-none"
                               th:href="@{/questions/{questionId}(questionId=${question.getQuestionId()})}"></a>
                            <span class="text-black fs-5" th:text="${question.getTitle()}">제목</span>
                            <span class="text-muted fs-6 mt-3" th:text="${question.getPrice()}">가격</span>

                            <div class="mb-1">
                                <div class="progress mt-3" style="height: 2px;">
                                    <div class="progress-bar bg-success"
                                         role="progressbar"
                                         th:style="|width: ${question.getBuyRatioPercentage()}%|">
                                    </div>

                                    <div class="progress-bar bg-danger"
                                         role="progressbar"
                                         th:style="|width: ${question.getNotBuyRatioPercentage()}%|">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between mt-1">
                                    <span class="text-success fs-6" th:text="|살래 ${question.getBuyRatioPercentage()}%|">살래 50%</span>
                                    <span class="text-danger fs-6"
                                          th:text="|말래 ${question.getNotBuyRatioPercentage()}%|">말래 50%</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                            <span class="text-muted fs-6 fw-bold"
                                  th:text="|답변 ${question.getAnswerCount()}개|">답변 50개</span>
                                <span class="text-muted fs-6" th:text="${question.getTimeAgo()}">1시간 전</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-4">
            <ul class="pagination"
                th:with="
        start=${(pageable.getPageNumber()) < 5 ? 1 : pageable.getPageNumber()-4},
        end=${(start + 8 < questions.getTotalPageCount()) ? start + 8 : questions.getTotalPageCount()}
      ">
                <th:block th:if="${end > 0}">
                    <li class="page-item"
                        th:each="page : ${#numbers.sequence(start, end)}"
                        th:classappend="${page - 1 == pageable.getPageNumber()} ? 'active'">
                        <a class="page-link"
                           th:href="@{/questions(sort=|${sortType},desc|, page=${page-1}, q=${searchText})}"
                           th:text="${page}">1</a>
                    </li>
                </th:block>
            </ul>
        </nav>
    </div>

    <th:block layout:fragment="script">
        <!-- common.js 이외의 js 파일 import가 필요한 경우 아래와 같이 사용 -->
        <!--<script th:src="@{/js/파일명.js}"></script>-->
    </th:block>
</body>
</html>